/*@font-face {*/
    /*url(../fonts/DejaVuSans.ttf)*/
    /*font-family: DejaVuSans*/
/*}*/
a {
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}
html, body {
    height: 100%;
    padding: 0;
    margin:0;
    font-size: 16px;
    /*font: 16px DejaVuSans;*/
}
.footer-blank, .footer {
    height: 100px;
}
.footer {
    background: white;
    z-index: 2;
}
.base, .footer {
    margin: auto;
    max-width: 1200px;
    min-width: 1000px;
    position: relative;
}
.base {
    min-height: 100%;
    background: #ffc;
    margin-bottom: -100px;
}
.left-base {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(50, 50, 50, 0.40);
    -moz-box-shadow:    5px 0px 5px 0px rgba(50, 50, 50, 0.40);
    box-shadow:         5px 0px 5px 0px rgba(50, 50, 50, 0.40);
    background: white;
    z-index: 1;
    left: 0;
    top: 70px;
    bottom: 100px;
}
.content-base {
    padding-left: 200px;
    margin: 0;
}
.form-inline .search-text {
    width: 450px;
}
.search-base {
    height: 100%;
    vertical-align: middle;
}
.navbar {
    z-index: 2;
    height: 70px;
}
.navbar_content { 
    height: 100%;
}
.logo-base, .left-base {
    width: 200px;   
}
.logo-base {
    padding-top: 10px;
    text-align: center;
}
.left-menu_item {
    line-height: 50px;
    /*padding-left: 30px;*/
    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    -o-transition: background 200ms ease;
    transition: background 200ms ease;
}
.left-menu_link:hover {
    color: white;
    text-decoration: none;
}
.left-menu_item_image {
    padding-top: 0px;
    width: 70px;
    text-align:center;
}
.left-menu_link {
    color: #333;
}
.left-menu-base {
    background: #fefffe;
    border-bottom: 1px solid #ccc;
}
.footer-link {
    line-height: 60px;
}
.item-base, .item-image, .item-name_text {
    width: 220px;
}
.grid-list {
    width: 100%;
    min-width: 801px;
    max-width: 1000px;
    overflow: visible;
    float: left;
}
.grid-list_item {
    /*max-width: 200px;*/
    /*width: 33%;*/
    padding: 15px 0px 0px 25px;
}
.item-base {
    height: 300px;
    background: white;
    /*margin: 20px 0px 0px 5%;*/
    margin: 20px auto;
    /*margin: auto;*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.item-name {
    height: 50px;
}
.item-desc {
    height: 30px;
}
.item-name, .item-desc {
    overflow: hidden;
}
.item-image, .item-name_text, .item-desc {
    padding: 0px 15px;
}
.item-image {
    height: 220px;   
    padding: 15px;
}
.item-name_text {
    vertical-align: middle;
    text-align: center;
    width: ;
    height: 50px;
}
.paragrapgh-end {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    width: 35px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
}
.content-header {
    padding: 9px 0px 8px 25px;
    background: white;
}
.pagination-base {
    padding: 0 25px;
}
.pagination a:hover {
    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    -o-transition: background 200ms ease;
    transition: background 200ms ease;
}
.parent-base {
    vertical-align: top;
}
.parent-name-base {
    height: 80px;
    vertical-align: top;
}
.object-desc {
    vertical-align: top;
    padding-left: 20px;
    width: 100%;
}
.parent_thumb-list{
    margin: 0 0 0 -19px;
    width: 237px;
}
.parent_thumb-list_item {
    margin: 19px 0 0 19px;
}
.items-header {
    margin-left: 25px;
}
.content-header_dropdown-toggle {
    text-decoration: none;
}
.content-header_dropdown-toggle:hover {
    text-decoration: none;
    background: ccc;
}
.content-header_dropdown-menu {
    margin: 0 25px;
}
.content-header_tabs_item {
    padding: 0 25px 0 0;
}
input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:25px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:16px;
    vertical-align:middle;
    cursor:pointer;
    font-weight: normal;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -20px;
}
label.css-label {
    background-image:url(../images/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-ms-tooltip {
    display: none;
}
.left-menu-list {
    padding: 10px 10px 0 0;
}
.search-main-base {
    /*background:red;*/
    top:50%;
    left:0;
    right:0;
    margin-top:-35px;
    padding-left: 235px;
    padding-right: 35px;
}
.search-text__main {
    width: 100% !important;
}
.search-main-base .form-inline {
    background: red;
    width: 100%;
}
.search-main-base_searh-text-base {
    position: absolute;
    left:0;
    right: 80px;
}
.search-main-base, .search-main-base_searh-text-base {
    height:35px;
}
.favorite-icon {
    cursor: default;
    color: #ffcb00;
}
.color-primary {
    color: #428bca
}
