<div class="content-header">
    <lazy-include src="html/detail_object.html"></lazy-include>
</div>
<div>
    <lazy-include src="html/items_grid.html"></lazy-include>
    <lazy-include src="html/pagination.html"></lazy-include>
</div>
 
<!--<script src="../js/angular.min.js"></script>-->
<!--<script src="../js/angular-sanitize.min.js"></script>-->
<!--<script src="../js/script.js"></script>-->
<!--<script src="../js/items-script.js"></script>-->
<!--<script src="../fancyapps/source/jquery.fancybox.pack.js"></script>-->
<!--<script src="../js/object-script.js"></script>-->
