<div class="content-header dropdown" ng-controller="ObjectCtrl">
    <!--<a href="#" class="content-header_dropdown-toggle" data-toggle="dropdown">-->
        <h2 class="i-margin0 i-padding0 dropdown">
            {{ object.name }}
            <!--<span class="caret"></span>-->
        </h2>
    <!--</a>-->
    <!--<ul class="content-header_dropdown-menu dropdown-menu" role="menu">-->
        <!--<li>123</li>-->
    <!--</ul>-->
</div>
<div>
    <lazy-include src="html/items_grid.html"></lazy-include>
    <lazy-include src="html/pagination.html"></lazy-include>
</div>
<!--<script src="../js/angular.min.js"></script>-->
<!--<script src="../js/script.js"></script>-->
<!--<script src="../js/items-script.js"></script>-->
<!--<script src="../js/object-script.js"></script>-->
