<div class="i-table parent-base" ng-app="categoriesApp">
    <div class="i-cell">
        <img src="{{ object.image }}" alt=""/>
        <ul class="i-padding0 i-clear-list parent_thumb-list">
            <li ng-repeat="item in images" class="i-left parent_thumb-list_item">
                <a rel="gallery1" href="{{ item.image }}" class="fancybox"><img src="{{ item.thumb }}" /></a>
            </li>
            <div class="i-clear"></div>
        </ul>
    </div>
    <div class="i-cell object-desc">
        <div>
            <ng-include src="'html/item_caption.html'"></ng-include>
        </div>
        <span ng-if="object.price" class="i-big-text text-success">Цена: {{ object.price }} руб.</span>
        <p ng-bind-html="object.text" class="text-justify i-paddingt10"></p>
        <ul ng-if="object.address">
            <li>{{ object.address }}</li>
            <li ng-repeat="item in addresses">{{ item.text }}</li>
        </ul>
    </div>
    </div>
</div>
