<div class="i-margin0 i-paddingt10">
    <form action="filter_submit" method="get">
        <ul class="i-margin0 content-header_tabs i-padding0 i-clear-list">
            <li ng-repeat="item in industries" class="i-left content-header_tabs_item">
                <input type="checkbox" name="industry" class="css-checkbox" id="check{{ item.pk }}" />
                <label for="check{{ item.pk }}" class="css-label">{{ item.fields.name }}</label>
            </li>
            <div class="i-clear"></div>
        </ul>
        <div class="i-paddingt10">
            <div class="i-left">
                {{ min }}
            </div>
            <div class="i-right">
                {{ max }}
            </div>
        </div>
        <div class="i-clear"></div>
        <slider floor="{{min}}" ceiling="{{max}}" step="{{step}}"
            ng-model-low="lower_price_bound" ng-model-high="upper_price_bound">
        </slider>
        <div class="i-left">
            от <span>{{ lower_price_bound }}</span>
        </div>
        <div class="i-right">
            до <span>{{ upper_price_bound }}</span>
        </div>
        <div class="i-clear"></div>
        <br />
        <button class="btn btn-primary">OK</button>
    </form>
</div>
