<div ng-controller="BottomMenuCtrl" class="row i-padding0 i-margin0">
    <div class="col-md-3 i-center" ng-repeat="item in bottomMenuItems">
        <a href="{{ item.link }}" class="footer-link">{{item.text}}</a>
    </div>
    <hr/>
</div>
<div class="i-center">© Onetap</div>
