<div class="navbar navbar-default i-margin0" ng-controller="HeaderCtrl">
    <div class="i-table navbar_content">
        <div class="i-cell logo-base">
            <b style="font-size: 36px;">Onetap</b>
        </div>
        <div class="i-cell search-base">
            <div class="i-middle form-inline">
                <div ng-if="HeaderSearchFactory.isHide == false">
                    <form ng-submit="HeaderSearchFactory.searchSubmit()">
                        <autocomplete ng-model="HeaderSearchFactory.searchString"
                            data="HeaderSearchFactory.completions"
                            class="i-inline"
                            attr-placeholder=""
                            attr-input-class="form-control search-text i-inline"
                            on-type="updateMovies">
                        </autocomplete>
                        <a href="#!/search/?q={{ HeaderSearchFactory.searchString }}" class="btn btn-default i-inline">Поиск</a>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</div>
