<div ng-if="thumbMessage">
    <h2 class="text-muted" align="center">{{ thumbMessage }}</h2>
</div>
<ul class="i-clear-list i-padding0 grid-list">
    <li class="grid-list_item i-left" ng-repeat="item in items">
        <lazy-include src="html/item_grid.html"></lazy-include>
    </li>
</ul>
<div class="i-clear"></div>
<br/>
