<div class="item-base">
    <div class="item-image">
        <img src="{{ item.image }}" title="{{ item.name }}" alt="{{ item.name }}"/>
    </div>
    <div class="i-center item-name">
        <div class="i-cell item-name_text" >
            <a href="#!/{{item.link}}">{{ item.name }}</a>
        </div>
    </div>
    <div class="text-muted i-center item-desc text-nowrap i-relative">
        <small>
            {{ item.short_text }}
        </small>
        <div class="paragrapgh-end"></div>
    </div>
    <div ng-if="item.price" class="i-right item-price">
       <span class="text-success">Цена: {{ item.price }} руб.</span>
    </div>
</div>
