<h2 class="pull-left">{{ object.name }}</h2>
<span ng-click="toggleFavorites()" style="font-size: 28px;"
    class="glyphicon  favorite-icon pull-right"
    ng-class="{'glyphicon-star-empty': !isFavorite, 'glyphicon-star': isFavorite}">
</span>
<div class="i-clear"></div>
