<style type="text/css" media="screen">
</style>
<div ng-controller="MenuCtrl">
    <ul class="nav nav-pills nav-stacked left-menu-list">
        <!--<li ng-tabs ng-repeat="item in menuItems">-->
        <li ng-repeat="item in menuItems" ng-class="{active: isSelected(item)}" ng-click="menuClick(item)">
            <a href="{{ item.link }}">
                <span class="glyphicon glyphicon-{{ item.image }}"></span> {{ item.text }}
            </a>
            <ul ng-if="item.subitems">
                <small>
                    <li ng-repeat="item in item.subitems">
                        <a href="#!/{{ item.link }}" >{{ item.text }}</a>
                    </li>
                </small>
            </ul>
        </li>
    </ul>
</div>
