<div class="i-absolute search-main-base" ng-controller="HeaderCtrl">
    <div class="i-middle form-inline i-relative">
        <form ng-submit="HeaderSearchFactory.searchSubmit()">
            <div class="i-left search-main-base_searh-text-base">
                <autocomplete ng-model="HeaderSearchFactory.searchString"
                    data="HeaderSearchFactory.completions"
                    class="i-inline search-text__main"
                    attr-placeholder=""
                    attr-input-class="form-control search-text__main i-inline"
                    on-type="updateMovies">
                </autocomplete>
            </div>
            <div class="i-right">
                <a href="#!/search/?q={{ HeaderSearchFactory.searchString }}"
                    class="btn btn-default i-inline">Поиск</a>
            </div>
        </form>
    </div>
</div>
