<div class="i-relative pagination-base">
    <div ng-if="pages" class="i-left">
        <ul class="pagination">
            <li ng-repeat="page in pages">
                <a href="{{ page.link }}">{{ page.text }}</a>
            </li>
        </ul>
    </div>
    <div ng-if="paginate_by" class="i-right">
        <ul class="pagination">
            <li ng-repeat="item in paginate_by">
                <a href="{{ item.link }}">{{ item.text }}</a>
            </li>
        </ul>
    </div>
</div>
<div class="i-clear"></div>
