<div class="content-header">
    <lazy-include src="html/detail_object.html"></lazy-include>
</div>
<div>
    <div ng-if="items">
        <h3 class="items-header">Вы смотрели ранее</h3>
        <lazy-include src="html/items_grid.html"></lazy-include>
    </div>
</div>
<script src="fancyapps/source/jquery.fancybox.pack.js"></script>
