<link rel="stylesheet" href="css/products-style.css" />
<div class="content-header">
    <ng-include src="'html/item_caption.html'"></ng-include>
</div>
<div>
    <lazy-include src="html/items_grid.html"></lazy-include>
    <lazy-include src="html/pagination.html"></lazy-include>
</div>
