<div class="content-header">
    <ul class="nav nav-pills nav-justified content-header_tabs" >
        <li ng-tabs  ng-repeat="item in sections" class="content-header_tabs_item">
            <a href="{{ item.link }}">{{ item.text }}</a>
        </li>
    </ul>
    <!--<lazy-include src="html/filter.html"></lazy-include>-->
</div>
<div>
    <lazy-include src="html/items_grid.html"></lazy-include>
</div>
